.card {
    margin: 20px;
    padding: 20px;
    border: 5px solid  lightblue;


}

.z {
    overflow: hidden;
    background-color: black;
    color: black;
    text-shadow: 1px;

    text-transform: uppercase;


}

.content {
    position: absolute;
    z-index: 1;
    
}

li,a {
    padding-right: 30px;
    text-decoration: none;
    color: white;



}

#a {
    font-size: 25px;
    color: black;
    background-image: url(./images/headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
#d {
    font-size: 22px;
    color: black;
}

#b {
    font-size: 18px;
    color: black;
}

#c {
    font-size: 20px;
    color: black;
}

.aside {
    align-items: center;
}

#searchinput {
    margin-top: 5%;
    margin-left: 0px;
    font-size: 14px;
    
}

#container {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 100px;
    background-color: rgb(249, 249, 250);
}

header {

    background-repeat: no-repeat;
    background-size: cover;
    background-color: pink;
}

.logo {
    text-align: center;
    padding: 20px;
}

/*.menu_list{
    list-style-type: none;
    padding: 15px;
    text-align: center;
}*/
.list_item {
    display: inline;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.signup {
    text-align: center;
    color: black;
    text-transform: capitalize;
}




.form-control {

    box-shadow: 2px blue;
}

span {
    color: red;
}

.btn {
    margin-left: 10%;
}
